<div class="card-container mb-3 mt-3">
  <p-card header="Active Properties">
    <p>4</p>
    <p><span style="color: green;">+2</span> since last month</p>
  </p-card>

  <p-card header="Total Investors">
    <p>5,240</p>
    <p><span style="color: green;">+124</span> since last month</p>
  </p-card>

  <p-card header="Capital Raised" styleClass="custom-card">
    <p>R 805M</p>
    <p><span style="color: green;">+12%</span> since last month</p>
  </p-card>

  <p-card header="Avg.ROI">
    <p>11.8%</p>
    <p><span style="color: green;">+0.3%</span> since last month</p>
  </p-card>
</div>
