# Angular cache & build artifacts
.angular/
dist/
tmp/

# Vite build output
.vite/
vite.config.timestamp-*

# Node
node_modules/

# Editor stuff
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# OS files
.DS_Store
Thumbs.db
