<div class="position-relative container p-4 border border-1 rounded-1" style="height: 50vh; overflow: auto;">
  <ngx-ui-loader [overlayColor]="'rgba(135,128,128,0.3)'" [fgsType]="'three-strings'" [bgsOpacity]="0.1"
                 fgsColor="#007FFF" [loaderId]="'loader'"></ngx-ui-loader>

  <div class="d-flex align-items-start gap-3 mb-3">
    <i class="bi bi-cash text-primary fs-2"></i>
    <div>
      <h6 class="mb-1 fw-bold">Banking Details</h6>
      <small class="text-muted">Provide your bank account information for withdrawals and deposits</small>
    </div>
  </div>


  <form [formGroup]="bankingForm">
    <div class="mb-3">
      <label class="form-label fw-bold">Account Holder Name</label>
      <input type="text" formControlName="accountHolderName" class="form-control"
             placeholder="Enter account holder name"/>
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Account Number</label>
      <input type="text" formControlName="accountNumber" class="form-control" placeholder="Enter account number"/>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <label class="form-label fw-bold">Bank Name</label>
        <input type="text" formControlName="bankName" class="form-control" placeholder="Select your bank"/>
      </div>
      <div class="col-6">
        <label class="form-label fw-bold">Branch Code</label>
        <input type="text" formControlName="branchCode" class="form-control" placeholder="Enter branch code"/>
      </div>
    </div>

    <div class="border border-1 rounded-3 p-3 mt-4 mb-5">
      <label class="form-label fw-bold">Proof of Bank Account</label>
      <small class="text-muted d-block">Upload a bank statement or confirmation letter (not older than 3 months)</small>


      <div class="d-flex justify-content-between">
        <div class="d-flex flex-lg-grow-1 me-3">
          <input type="file" class="form-control" (change)="onFileChange($event)"/>
        </div>
        @if (proofOfBankAccountUrl) {
          <div class="d-flex">
            <button (click)="downloadFileByUrl(proofOfBankAccountUrl)" class="btn btn-primary"><i
              class="bi bi-download"></i></button>
          </div>
        }

      </div>
    </div>
  </form>


</div>


<div class="d-flex justify-content-between">
  <button (click)="submitBankingDetails('6820d4faa1179f0cb69dd6b3')" class="btn btn-sm btn-light m-1"><i
    class="bi bi-floppy"></i> Save Progress
  </button>

  <div>
    <button (click)="previousStep()" class="btn btn-sm btn-light m-1"><i class="bi bi-arrow-left"></i> Back</button>
    <button (click)="nextStep()" class="btn btn-sm btn-primary m-1"><i class="bi bi-arrow-right"></i> Next</button>
  </div>
</div>
