<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Administration</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="/admin/properties" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-house-door"></i> Properties
        </a>
      </li>
      <li>
        <a routerLink="/admin/investors" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-cash-coin"></i> Investors
        </a>
      </li>
      <li>
        <a routerLink="/admin/developers" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-building-add"></i> Developers
        </a>
      </li>

      <li>
        <a routerLink="/admin/deductions" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-coin"></i> Deductions
        </a>
      </li>

      <li>
        <a routerLink="/admin/analytics" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-graph-up"></i> Analytics
        </a>
      </li>
    </ul>
    <hr>
  </div>
