<div class="d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-properties">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/how-it-works">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
