<div class="d-inline-block bg-white rounded rounded-2 shadow-sm mb-3">
  <ul class="nav nav-pills p-1" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/properties" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
        Properties
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/investors" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">Investors
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/developers" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
              aria-selected="false">Developers
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/documents" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">Documents
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/deductions" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">Platform Fees
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/admin/analytics" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
              aria-selected="false">Analytics
      </button>
    </li>
  </ul>
</div>
